@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Mukta', sans-serif;
}
body{
    background-color: #212529;
}
.navbar{
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}


.title{
    background: transparent;
    height: 12rem;
    margin: auto;
    margin-top: -35px;
}
.status{
    font-size: 12px;
}